body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f4f4f4;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

.filter-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-group label {
    min-width: 80px;
    /* Adjust as needed */
}

.filter-group input {
    flex: 1;
    min-width: 150px;
    /* Adjust as needed */
}


/* Pop-up Styles */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: var(--secondary-color);
}


/* Responsive Styles */

@media screen and (max-width: 600px) {
    th,
    td {
        font-size: 14px;
        padding: 8px;
    }
    input[type="text"],
    button {
        width: 100%;
        margin-bottom: 10px;
    }
    .filter-group {
        flex-direction: column;
        gap: 5px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.navbar-left h2 {
    margin: 0;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar-right a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.title {
    color: #333;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 25px;
}

input[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

input[type="text"]::placeholder {
    color: #444444;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ff4444;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast-message {
    margin-left: 10px;
}